body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;


    background-image: url('https://dmarket.com/blog/best-dota2-wallpapers/dota2-wallpaper-logo_hud2a557bc7cf1af2b42e013f2bce0f3fa_165815_1920x1080_resize_q100_lanczos.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .hidenav{
    display: none;
  }
  
  nav{
    width: 100%;
    background-color: #000;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 12%;
  }
  
  nav a{
    color: white;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1px; */
    text-decoration: none;
  }

  nav a:hover{
    background-color: #111;
  }
  
  /* Profile styles */
    #profile{
        width: 100%;
        height: 100%;
        /* background-color: #111; */
        background-color: rgba(17, 17, 17, 0.5);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: hidden;
    }
  
    #profile-header{
        display: flex;
        flex-direction: row;
        gap: 25px;
        justify-content: center;
        align-items: center;
        background-color: #000;
        width: 100%;
        height: 15%;
    }
  
  
    #profile-picture{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-left: 20px;
    }
  
    #rank-img{
        width: 20%;
        height: 80%;
        border-radius: 50%;
        margin-right: 20px;
    }
  
    #profile-header div{
        flex: 1;
    }
  
    #profile-header p{ 
        color: white;
        align-self: flex-start;
    }
  
    #profile-header h1{
        color: white;
    }
  
    #profile-main{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        overflow-y: scroll;
        scrollbar-width: none;
    }
  
    #profile-main #widget{
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
  
    #profile-main .widget{
        background-color: #222;
        width: 20%;
        text-align: center;
        padding: 5px;
    }
  
    #profile-main .widget:hover{
        border: 1px solid rgb(98, 173, 243);
    }
  
    #profile-main .widget p{
        color: #989898;
        font-size: 0.8rem;
    }
    #profile-main .widget span{
        color: #ffffff;
        font-size: 0.8rem;
    }
  
    #profile-main #last-match {
      flex: 1;
      width: 95%;
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: row;
      /* justify-content: center; */
      gap: 5px;
      /* overflow-y: auto;*/
      overflow-x: scroll; 
      border-top: 1px solid white;
      scrollbar-width: none;
  }
  
  #profile-main #last-match video {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 49%;
      height: 30%;
  }

    #profile-main h3{
      width: 100%;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }

    #profile-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #111; */
        width: 100%;
        height: 15%;
    }
  
    #profile-footer button{
        border: 1px solid #ffffff;
        height: 50%;
        width: 70%;
        background: transparent;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
  
  /* Chats styles */
  
    #chats-container{
        width: 100%;
        height: 100%;
        /* background-color: #111; */
        background-color: rgba(17, 17, 17, 0.5);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 10px;
        align-items: center;
        scrollbar-width: none;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
  
    #chats-container h1{
        color: white;
        margin-top: 0;
        padding-bottom: 25px;
        padding-top: 25px;
        width: 100%;
        text-align: center;
        background-color: #000;
    }
  
    .chat-card{
      width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        border-bottom: 1px solid white;
    }
  
    .chat-card img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
  
    .chat-card h2{
        color: white;
        margin-left: 5%;
        flex: 1;
    }

    .chat-card span{
      color: rgba(218, 218, 218, 0.5);
      margin-right: 5%;
      margin-top: 5%;
    }

  /* toggle mode styles */

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #toggle input:checked + .slider {
    background-color: #111;
  }
  
  #toggle input:focus + .slider {
    box-shadow: 0 0 1px #111;
  }
  
  #toggle input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Search styles */
  
    #Search{
        width: 100%;
        height: 100%;
        /* background-color: #111; */
        background-color: rgba(17, 17, 17, 0.5);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 10px;
        align-items: center;
    }
  
    #Search h1{
        color: white;
        margin-top: 0;
        padding-bottom: 25px;
        padding-top: 25px;
        width: 100%;
        text-align: center;
        background-color: #000;
    }
  
    #Search form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
  
    #Search form input{
        width: 80%;
        height: 30px;
        text-align: center;
    }
  
    #Search form input:focus{
        outline: 1px solid rgb(98, 173, 243);
    }
  
    #Search form button{
        height: 30px;
        background-color: #111;
        color: white;
    }
  
    #Search form button:hover{
        border: 1px solid rgb(98, 173, 243);
    }

    #search-error{
      color: white;
    }

    #search-card{
      background-color: #222;
      color: rgba(255, 255, 255, 0.486);
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      /* gap: 5%; */
      border: 1px solid white;
    }

    #search-card h1{
      flex: 1;
      background: transparent;
      word-break: break-word;
      overflow-wrap: break-word;
    }

    #search-card img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-left: 2%;
    }

    #search-card button{
      width: 60px;
      height: 60px;
      border-radius: 20%;
      margin-right: 3%;
      border: none;
      background-color: #e8e8e822;
      font-size: 45px;
      text-align: center;
    }

    #friend-added {
      color: white;
    }
  
  /* Plays styles */
  
  #plays{
    width: 100%;
    height: 100%;
    /* background-color: #111; */
    background-color: rgba(17, 17, 17, 0.5);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    align-items: center;
    scrollbar-width: none;
  }

  #plays-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #plays-main button{
    width: 20%;
  }
  
  #plays h1{
    color: white;
    margin-top: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
    text-align: center;
    background-color: #000;
  }
  
  #playscard{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  
  #playscard-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  #playscard-div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  
  #playscard h2{
    color: white;
  }
  
  #playscard p{
    color: #989898;
  }
  
  #playscard video{
    width: 80%;
  }
  
  /* Chatbox styles */
  
  #chatbox{
    width: 100%;
    height: 100%;
    /* background-color: #111; */
    background-color: rgba(17, 17, 17, 0.5);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    align-items: center;
    scrollbar-width: none;
  }

  #chatbox .hide-emoji{
    display: none;
  }
  
  #chat_header{
    align-self: flex-start;
    width: 100%;
    background-color: #000;
    color: #bdbdbd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 86.5px;
  }
  
  #chat_header h1{
    flex: 1;
    margin-left: 2%;
    color: white;
    margin-top: 0;
    padding-top: 25px;
    width: 100%;
    text-align: center;
    background-color: #000;
    font-size: 30px;
  }
  
  #chat_header button{
    height: 50%;
    margin-right: 5%;
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  #chat_header p{
    margin-left: 5%;
    font-size: 30px;
    cursor: pointer;
  }
  
  #message_container{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 5px;
  }
  
  #message_container::-webkit-scrollbar {
    display: none;
  }
  
  #message_container div{
    background-color: rgb(248, 245, 240);
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
  }

  #message_container div span{
    font-size: 12px;
  }
  
  #send{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #send input{
    flex: 1;
    height: 60%;
    border-radius: 25px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
  }
  
  #send input:focus{
    outline: none;
  }
  
  #send button{
    width: 15%;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  #message_container .received-message{
    color: #111;
    align-self: flex-start;
    margin-left: 15px;
    border-bottom-left-radius: 0;
  }
  
  #message_container .sent-message{
    color: #111;
    align-self: flex-end;
    margin-right: 15px;
    border-bottom-right-radius: 0;
  }
  
  /* ViewProfie styles */
  
  #view-profile{
    width: 100%;
    height: 100%;
    /* background-color: #111; */
    background-color: rgba(17, 17, 17, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #view-profile-header{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-top: 2%;
    width: 100%;
    height: 15%;
  }
  
  
  #view-profile-picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  #view-rank-img{
    width: 20%;
    height: 80%;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  #view-profile-header div{
    flex: 1;
  }
  
  #view-profile-header p{ 
    color: white;
    align-self: flex-start;
    font-size: small;
  }
  
  #view-profile-header h1{
    color: white;
    font-size: x-large;
  }
  
  #view-profile-main{
    /* flex: 1; */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
  }
  
  #view-profile-main #view-widget{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #view-profile-main .widget{
    background-color: #222;
    width: 20%;
    text-align: center;
    padding: 5px;
  }
  
  #view-profile-main .widget:hover{
    border: 1px solid rgb(98, 173, 243);
  }
  
  #view-profile-main .widget p{
    color: #989898;
    font-size: 0.8rem;
  }
  #view-profile-main .widget span{
    color: #ffffff;
    font-size: 0.8rem;
  }

#view-last-match {
  flex: 1;
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow-y: auto;
  border-top: 1px solid white;
  scrollbar-width: none;
}

#view-last-match video {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 49%;
  height: 30%;
}

#view-profile-main h3{
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#view-profile-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #111; */
}
  
#view-profile-footer button{
  border: 1px solid #ffffff;
  height: 50px;
  width: 70%;
  background: transparent;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
  
  /* login styles */
  .login-div{
    width: 100%;
    height: 100%;
    background-color: #393d49;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .login-div h1{
    color: white;
    margin-top: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
    text-align: center;
    background-color: #111;
  }
  
  .login-div a{
    color: #38ff73;
  }
  
  .login-div form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-div form input, button{
    padding: 5px;
    background-color: #111;
    color: white;
  }
  
  /* Post styles */
  
  #post{
    width: 100%;
    height: 100%;
    /* background-color: #111; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    color: white;
  }
  
  #post p{
    align-self: flex-end;
    margin-right: 5%;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  #post form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  
  #post form .video-upload{
    display: none;
  }
  
  #post form .file-label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #222;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    height: 10%;
    width: 20%;
    text-align: center;
    font-size: 60px;
  }
  
  #post form .file-label:hover {
    background-color: #222;
  }
  
  
  #post form .file-names-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #222;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    height: 10%;
    width: 20%;
    text-align: center;
    font-size: 60px;
  }
  #post form .file-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    color: #bab2b2;
    width: 100%;
    height: 100%;
  }
  #post form .file-name span {
    font-size: 14px;
    color: #888;
  }
  #post form .file-size {
    color: #888;
  }
  
  #post form input{
    width: 80%;
    padding: 15px;
    background: transparent;
    border: none;
    color: white;
  }
  
  #post form input:focus{
    outline: none;
  }
  
  #post form button{
    border: none;
    background-color: #222;
  
  }


@media only screen and (min-width: 550px) {
    body{
        background-image: url('https://dmarket.com/blog/best-dota2-wallpapers/dota2-wallpaper-logo_hud2a557bc7cf1af2b42e013f2bce0f3fa_165815_1920x1080_resize_q100_lanczos.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
        background-color: #f0f0f0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 800px; */
    
    }
    #app{
      /* height: 100%; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* width: 100%; */
    }

    #home{
      width: 35%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    nav{
      width: 35%;
    }
    #chats-container{
        width: 35%;
        background-color: rgba(34, 34, 34, 0.5);
    }
    #chatbox{
        width: 35%;
        background-color: rgba(34, 34, 34, 0.5);
    }
    #Search{
        width: 35%;
        background-color: rgba(34, 34, 34, 0.5);
    }
    #plays{
        width: 35%;
        background-color: rgba(34, 34, 34, 0.5);
    }
    #profile{
        width: 35%;
        background-color: rgba(34, 34, 34, 0.5);
    }
    #view-profile{
      width: 35%;
      background-color: rgba(34, 34, 34, 0.5);
  }
    #post{
        width: 35%;
        background: transparent;
    }
    #message_container div{
      max-width: 40%;
    }
    }